<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/about.css" />

</head>
<body>

  {% include 'navbar.html' %}

    <div class="about-section">
        <h1 style="text-align: center;"><div id="dialog1" class="triangle_down1"></div>About Us<div id="dialog1" class="triangle_down1"></div></h1>

         <p style="text-align: center;margin-top: 1rem;">Unlock the Power of AI</p>

        <p style="margin: 15px;">AI Tool Finder is your go-to platform for discovering the best AI tools tailored to your needs. Whether you’re a developer, marketer, or creator, we simplify your search by offering a curated list of top AI tools across various categories.
          
          Our Mission
          
          We aim to connect you with AI tools that boost productivity, enhance creativity, and streamline your work. With easy-to-use search functionality and detailed tool descriptions, finding the perfect AI solution has never been easier.
          
          Why Choose Us?
          
          Expert Selection, Only the most effective and innovative AI tools make it to our list.
          User-Friendly, Quickly find what you need with our intuitive search and clear categories.
          Stay Ahead, Embrace cutting-edge AI technology and transform the way you work.
          
          Explore AI Tool Finder today and let us help you harness the power of AI.
        </p>
      </div>
      
      <h1 style="text-align:center;margin-top: 1.5rem;">Our Team</h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../static/img/1720468764368.jpeg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Fatih Han Özkan</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../static/img/cvpho copy.jpg" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Ahmet Fatih Yıldız</h2>
              <p class="title">Art Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>afyildiz@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../static/img/1710525198833.jpeg" alt="John" style="width:100%">
            <div class="container">
              <h2>Şüheda Coşkun</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>