<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link
        rel="stylesheet"
        href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <title>AI Tool Finder</title>
</head>
<body>
    {% include 'navbar.html' %}

    <section class="ai-tool-finder">
        <div class="container">
            <h1>AI Tool Finder</h1>

            <div class="chat-container">
                <div id="chat-history">
                    </div>
                <form method="POST" id="chat-form">
                    <input type="text" id="query" name="query" placeholder="ask any ai tool..." required />
                    <button type="submit">Send</button>
                </form>
            </div>

            <div id="results-container">
                </div>

        </div>
    </section>

    <script>
        const chatHistory = document.getElementById('chat-history');
        const chatForm = document.getElementById('chat-form');
        const resultsContainer = document.getElementById('results-container');

        chatForm.addEventListener('submit', (event) => {
            event.preventDefault(); 

            const userInput = document.getElementById('query').value;

            // AJAX isteği gönder
            fetch('/', {
                method: 'POST',
                body: new FormData(chatForm) 
            })
            .then(response => response.text()) 
            .then(data => {
                resultsContainer.innerHTML = data;

                // Giriş alanını temizle
                document.getElementById('query').value = '';
            })
            .catch(error => {
                console.error('Hata oluştu:', error);
            });
        });
    </script>
</body>
</html>