<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="navbar">
            <div style="margin-left: 10px;" class="logo"><b></b>
              <img alt="Logo" src="../static/img/rda-ai-logo.png" width="50" />
            </div>
            <div class="middle-text">
              Find Your Own
            </div>
            <nav>
              <div class="btn">
                <i class="fa fa-times close-btn"></i>
              </div>
              <li><a href="{{ url_for('home')}}">Home</a></li>
              <li><a href="{{ url_for('about')}}">About</a></li>
              <li><a href="{{ url_for('contact')}}">Contact</a></li>
            </nav>
            <div class="btn">
              <i class="fa fa-bars menu-btn"></i>
            </div>
          </div>
        </div>
      </header>

      <script>
        const menuBtn = document.querySelector('.menu-btn');
        const closeBtn = document.querySelector('.close-btn');
        const nav = document.querySelector('nav');
        nav.style.zIndex="2"

        menuBtn.addEventListener('click', () => {
          nav.classList.add('active');

        });

        closeBtn.addEventListener('click', () => {
          nav.classList.remove('active');
        });
      </script>
</body>
</html>