<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="navbar">
            <div class="logo"><b>LOGO</b>
              <!-- <img alt="Logo" /> -->
            </div>
            <nav>
              <div class="btn">
                <i class="fa fa-times close-btn"></i>
              </div>
              <li><a href="{{ url_for('home')}}">Home</a></li>
              <li><a href="{{ url_for('about')}}">About</a></li>
              <li><a href="{{ url_for('contact')}}">Contact</a></li>
            </nav>
            <div class="btn">
              <i class="fa fa-bars menu-btn"></i>
            </div>
          </div>
        </div>
      </header>
</body>
</html>